Repository ogadra/Mokuroku: changes, and which lefthook commands are due for each by the changed paths.
All: 01_format, 02_check, 03_typecheck

lefthook.yml:

pre-commit:
  parallel: false
  piped: true
  commands:
    01_format:
      glob: "*.{ts,tsx,js,json,jsonc}"
      run: pnpm format {staged_files}
      stage_fixed: true
    02_check:
      glob: "*.{ts,tsx,js,json,jsonc}"
      run: pnpm format:check {staged_files}
    03_typecheck:
      glob: "*.{ts,tsx}"
      run: pnpm typecheck

refactor: use alias instead of string
  src/repository/schema.ts
Due: 01_format, 02_check, 03_typecheck

feat: implement REST API for event CRUD operations
  src/index.ts
Due: 01_format, 02_check, 03_typecheck

refactor: extract Event types to separate file
  src/index.ts
  src/repository/types/events.ts
Due: 01_format, 02_check, 03_typecheck

package: add vitest
  package.json
  pnpm-lock.yaml
Due: 01_format, 02_check

config: add test config
  drizzle.config.ts
  package.json
  test/env.d.ts
  test/setup.ts
  test/tsconfig.json
  tsconfig.json
  vitest.config.ts
Due: 01_format, 02_check, 03_typecheck

config: add lefthook for testfile
  lefthook.yml
Due: none

test: add test template
  src/index.test.ts
Due: 01_format, 02_check, 03_typecheck

refactor: test
  src/index.test.ts
Due: 01_format, 02_check, 03_typecheck

test: improve test assertions with Japanese descriptions and exact matching
  CLAUDE.md
  src/index.test.ts
Due: 01_format, 02_check, 03_typecheck

test: add seed data and update tests to verify seeded events
  src/index.test.ts
  test/setup.ts
Due: 01_format, 02_check, 03_typecheck

refactor: split index.ts into separate modules
  src/index.ts
  src/routes/event.ts
  src/routes/ics.ts
  src/types/env.ts
  src/utils/ics.ts
  test/env.d.ts
Due: 01_format, 02_check, 03_typecheck

refactor: add connectDb middleware and eventRepository
  src/index.ts
  src/middleware/connectDb.ts
  src/repository/eventRepository.ts
  src/routes/event.ts
  src/routes/ics.ts
  src/types/env.ts
Due: 01_format, 02_check, 03_typecheck

refactor: move eventRepository to queries/event
  src/queries/event.ts
  src/routes/event.ts
  src/routes/ics.ts
Due: 01_format, 02_check, 03_typecheck

feat: add attendee_type column to events table
  src/repository/enums/attendeeType.ts
  src/repository/migrations/0001_youthful_doctor_strange.sql
  src/repository/migrations/meta/0001_snapshot.json
  src/repository/migrations/meta/_journal.json
  src/repository/schema.ts
Due: 01_format, 02_check, 03_typecheck

feat: add X-ATTENDEE-TYPE to ICS output
  src/index.test.ts
  src/utils/ics.ts
  test/setup.ts
Due: 01_format, 02_check, 03_typecheck

chore: add valibot dependency
  package.json
  pnpm-lock.yaml
Due: 01_format, 02_check

feat: add filtering support to ICS endpoint
  src/index.test.ts
  src/index.ts
  src/queries/event.ts
  src/routes/ics.test.ts
  src/routes/ics.ts
  test/setup.ts
Due: 01_format, 02_check, 03_typecheck

feat: add role prefix to ICS summary when role is not specified
  src/routes/ics.test.ts
  src/routes/ics.ts
  src/utils/ics.ts
Due: 01_format, 02_check, 03_typecheck

docs: add coding guideline for preferring constants
  CLAUDE.md
Due: none

docs: add API documentation to README
  README.md
Due: none

docs: expand README with tech stack and API details
  README.md
Due: none

feat: add status prefix to ICS summary
  README.md
  src/routes/ics.test.ts
  src/utils/ics.ts
Due: 01_format, 02_check, 03_typecheck

feat: add bearer token authentication for POST/PUT/DELETE
  src/index.test.ts
  src/routes/event.test.ts
  src/routes/event.ts
  src/types/env.ts
  vitest.config.ts
Due: 01_format, 02_check, 03_typecheck

feat: hash API token with SHA-256 for secure storage
  src/routes/event.ts
  src/types/env.ts
  src/utils/hash.ts
  vitest.config.ts
Due: 01_format, 02_check, 03_typecheck

docs: add authentication setup and coding guideline
  CLAUDE.md
  README.md
Due: none

test: add unit tests for ics utility functions
  src/utils/ics.test.ts
Due: 01_format, 02_check, 03_typecheck

refactor: rename AttendeeTypeType to AttendeeType
  src/queries/event.ts
  src/repository/enums/attendeeType.ts
  src/repository/schema.ts
  src/routes/ics.ts
Due: 01_format, 02_check, 03_typecheck

refactor: add schema type to DrizzleD1Database
  src/queries/event.ts
  src/types/env.ts
Due: 01_format, 02_check, 03_typecheck

refactor: use HTTPException for error handling
  src/routes/event.test.ts
  src/routes/event.ts
  src/routes/ics.test.ts
  src/routes/ics.ts
Due: 01_format, 02_check, 03_typecheck

refactor: extract auth middleware to separate file
  src/middleware/auth.ts
  src/routes/event.ts
Due: 01_format, 02_check, 03_typecheck

feat: add request body validation with Valibot
  src/routes/event.ts
  src/schemas/event.ts
Due: 01_format, 02_check, 03_typecheck

test: add PUT/DELETE success and 404 tests
  src/routes/event.test.ts
Due: 01_format, 02_check, 03_typecheck

feat: add RSS feed endpoint at /feed.xml
  src/index.ts
  src/routes/rss.test.ts
  src/routes/rss.ts
  src/utils/rss.test.ts
  src/utils/rss.ts
Due: 01_format, 02_check, 03_typecheck

refactor: extract buildEventTitle function for shared prefix logic
  src/routes/rss.test.ts
  src/utils/eventPrefix.ts
  src/utils/ics.ts
  src/utils/rss.test.ts
  src/utils/rss.ts
Due: 01_format, 02_check, 03_typecheck

test: add unit tests for eventPrefix utility
  src/utils/eventPrefix.test.ts
Due: 01_format, 02_check, 03_typecheck

chore: add .dev.vars.sample for local development
  .dev.vars.sample
  .gitignore
  Makefile
Due: none

chore: add migrate:prd script for remote D1 migrations
  package.json
Due: 01_format, 02_check

feat: require timezone in datetime input (ISO 8601 with offset)
  src/routes/event.test.ts
  src/schemas/event.ts
Due: 01_format, 02_check, 03_typecheck

feat: add custom domain mokuroku.ogadra.com
  wrangler.jsonc
Due: 01_format, 02_check

fix: add required <link> element to RSS feed
  src/routes/rss.test.ts
  src/routes/rss.ts
  src/utils/rss.test.ts
  src/utils/rss.ts
Due: 01_format, 02_check, 03_typecheck
