Repository ogadra/Mokuroku: changes, and which lefthook commands are due for each by the changed paths.
All: 01_format, 02_check, 03_typecheck_test

01_format:
  run: pnpm format {staged_files}
  stage_fixed: true

02_check:
  run: pnpm format:check {staged_files}

03_typecheck_test:
  run: pnpm typecheck:test

docs: add tsdoc for url
  src/repository/schema.ts
Due: 01_format, 02_check

chore: add migration for url column
  src/repository/migrations/0002_demonic_siren.sql
  src/repository/migrations/meta/0002_snapshot.json
  src/repository/migrations/meta/_journal.json
Due: 01_format, 02_check

feat: add staging environment configuration
  package.json
  wrangler.jsonc
Due: 01_format, 02_check

chore: add dependabot configuration
  .github/dependabot.yml
Due: none

chore: add nix to dependabot configuration
  .github/dependabot.yml
Due: none

chore: ignore .takt/runs working directory
  .gitignore
Due: none

ci: add GitHub Actions workflow for test, typecheck, format and build
  .github/workflows/ci.yml
Due: none

style: format README.md tables with oxfmt
  README.md
Due: none

test: add unit tests for auth, schema and hash utilities
  src/middleware/auth.test.ts
  src/schemas/event.test.ts
  src/utils/hash.test.ts
Due: 01_format, 02_check, 03_typecheck_test

test: trim redundant hashToken cases and split config consistency checks
  src/utils/hash.test.ts
Due: 01_format, 02_check, 03_typecheck_test

chore: add CONNPASS_API_TOKEN to .dev.vars.sample
  .dev.vars.sample
Due: none

feat: sync connpass events to D1 via Cron Triggers
  README.md
  src/index.ts
  src/jobs/connpassSync.test.ts
  src/jobs/connpassSync.ts
  src/queries/event.ts
  src/repository/migrations/0002_powerful_puff_adder.sql
  src/repository/migrations/meta/0002_snapshot.json
  src/repository/migrations/meta/_journal.json
  src/repository/schema.ts
  src/routes/event.test.ts
  src/types/env.ts
  src/utils/connpass.test.ts
  src/utils/connpass.ts
  vitest.config.ts
  wrangler.jsonc
Due: 01_format, 02_check, 03_typecheck_test

fix: handle null place/address in connpass event location
  src/utils/connpass.test.ts
  src/utils/connpass.ts
Due: 01_format, 02_check, 03_typecheck_test

chore: set SSL_CERT_FILE in .envrc for workerd TLS in local dev
  .envrc
Due: none

fix: make connpass sync respect API rate limit and User-Agent
  src/jobs/connpassSync.test.ts
  src/jobs/connpassSync.ts
  src/utils/connpass.ts
  src/utils/sleep.ts
Due: 01_format, 02_check, 03_typecheck_test

Path conditions:
  01_format: any of: *.{ts,tsx,js,json,jsonc}
  02_check: any of: *.{ts,tsx,js,json,jsonc}
  03_typecheck_test: any of: {test/**/*.ts,src/**/*.test.ts}
